# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
ca-certificates=2022.10.11=h06a4308_0
certifi=2022.12.7=py39h06a4308_0
charset-normalizer=2.1.1=pypi_0
contourpy=1.0.6=pypi_0
cycler=0.11.0=pypi_0
cython=0.29.32=pypi_0
deprecated=1.2.13=pypi_0
fonttools=4.38.0=pypi_0
idna=3.4=pypi_0
joblib=1.2.0=pypi_0
jsonpatch=1.32=pypi_0
jsonpointer=2.3=pypi_0
kiwisolver=1.4.4=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.4.2=h6a678d5_6
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
matplotlib=3.6.2=pypi_0
ncurses=6.3=h5eee18b_3
networkx=2.8.8=pypi_0
numpy=1.23.1=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
openssl=1.1.1s=h7f8727e_0
packaging=22.0=pypi_0
pandas=1.5.2=pypi_0
pillow=9.4.0=pypi_0
pip=22.3.1=py39h06a4308_0
pygco=0.0.16=pypi_0
pyparsing=3.0.9=pypi_0
python=3.9.15=h7a1cb2a_2
python-dateutil=2.8.2=pypi_0
pytz=2022.7=pypi_0
readline=8.2=h5eee18b_0
requests=2.28.1=pypi_0
scikit-learn=1.2.0=pypi_0
scipy=1.10.0=pypi_0
setuptools=65.5.0=py39h06a4308_0
six=1.16.0=pypi_0
sqlite=3.40.0=h5082296_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.12=h1ccaba5_0
torch=1.13.1=pypi_0
torchaudio=0.13.1=pypi_0
torchvision=0.14.1=pypi_0
tornado=6.2=pypi_0
typing-extensions=4.4.0=pypi_0
tzdata=2022g=h04d1e81_0
urllib3=1.26.13=pypi_0
vedo=2022.4.2=pypi_0
visdom=0.2.3=pypi_0
vtk=9.2.4=pypi_0
websocket-client=1.4.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wrapt=1.14.1=pypi_0
xz=5.2.8=h5eee18b_0
zlib=1.2.13=h5eee18b_0
